.counter-box{
    border: 1px solid;
    padding-bottom: 1rem;
    border-radius: 0.5rem;
    margin: 0 0 0.5rem 0;
    
}

.counter-name{
    color: rgb(2, 2, 77);
    font-weight: bold;
    margin: 0 0.5rem;
}

.btn{
    border: 1px solid;
    margin-bottom: 10px;
}

.counter-value{
    font-size: xx-large;
    margin: 0 0.5rem ;
}