.add-container{
    display: flex;
    justify-content: space-between;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
    gap: 0.5rem;
    margin-left: 29px;
}

.add-title{
    color: rgb(4, 4, 82);
    
}

.add-variable{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
}

.add-display{
    display: flex;
    gap: 0.7rem;
    justify-content: center;
}

.add1-con{
    border: 1px solid;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: rgb(255, 255, 255);
    width: 450px;
}